@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

body {
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  height: 100%;
}

.mr-2 {
  margin-right: 0.65rem;
}
.mt-2 {
  margin-top: 0.65rem;
}
.ml-2 {
  margin-left: 0.65rem;
}
.mb-2 {
  margin-bottom: 0.65rem;
}
.loading {
  font-weight: 200;
  font-size: 1rem;
}

.min-width {
  min-width: 250px;
}

.w-100 {
  width: 100%;
}

.mt-10 {
  margin-top: 10px;
}

.border{
  width: 50%;
  height: 50%;
}

.W-50{
  width: 50%;
}

.w-rem-5{
  width:5rem
}

.ml-3{
  margin-left: 5rem;

}