@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

body {
  background-color: #f4f4f4;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

.mr-2 {
  margin-right: 0.65rem;
}
.mt-2 {
  margin-top: 0.65rem;
}
.ml-2 {
  margin-left: 0.65rem;
}
.mb-2 {
  margin-bottom: 0.65rem;
}
.loading {
  font-weight: 200;
  font-size: 1rem;
  margin: 2rem;
}

.min-width {
  min-width: 250px;
}

.w-100 {
  width: 100%;
}

.mt-10 {
  margin-top: 10px;
}

.W-50 {
  width: 50%;
}

.w-rem-5 {
  width: 5rem;
}

.m-5 {
  margin-left: 5rem;
}

.styles_closeButton__20ID4 {
  top: 25px;
  right: 25px;
}

@media (min-width: 985px) and (max-width: 1743px) {
  .home_cards {
    .card {
      width: 18.6% !important;
    }
  }
}