.card {
  .card_vertical {
    box-shadow: 0 0 3px;
    width: 100%;
    background-color: #fff;
    min-height: 27rem;
    border-radius: 10px;
  }
  .vertical_design img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 18rem;
  }
  .card_horizontal {
    box-shadow: 0 0 10px;
    display: flex;
    width: 100%;
    background-color: #fff;
    border-radius: 1rem;
  }
  .card_horizontal-right img {
    width: 100%;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }
  .card_horizontal-right {
    border-top-left-radius: 1rem;
    width: 40%;
  }
  .card_horizontal-left {
    text-align: center;
    flex-grow: 1;
    padding: 1rem;
  }
  .fonts_card {
    padding: 0.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 7rem;
  }

  .fonts_name {
    font-size: 1.2rem;
    font-weight: 600;
  }
  .fonts_view {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 1rem;
  }
  .card_film-button {
    border: 0;
    height: 35px;
    padding: 0 10px;
    outline: 0;
    margin-bottom: 0.5rem;
    cursor: pointer;
    &:hover {
      opacity: 1;
      background: #884e78;
      color: white;
    }
  }

  .card_list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .card_list-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h4,
    h5,
    p {
      margin-bottom: 0;
    }
  }
  .card_circle {
    box-shadow: 0 0 10px;
    border-radius: 50%;
    background-color: #834b73;
    color: #fff;
    width: 15%;
    padding: 2rem;
  }
  .view_btn {
    outline: 0;
    padding: 0 10px;
    height: 30px;
    background: #ffffff;
    color: #884e78;
    border: 1px solid #884e78;
    opacity: 0.85;
    margin-top: 10px;

    &:hover,
    &:focus,
    &:active {
      opacity: 1;
      background: #884e78;
      color: white;
    }
  }
}
