.footer {
  background-color: #834b73;
  padding: 0.1rem;
  box-shadow: hue;
  z-index: 10;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 3rem;
  width: 100%;
  box-shadow: 0 0 3px;
  font-size: 0.8rem;
  font-weight: 500;
  color: #ffffff;
}
